---
import { format } from "date-fns";
import { type Job } from "../jobData";
import { css } from "../../../../styled-system/css";

interface Props {
  job: Job;
}

const { job } = Astro.props;
const dateFormat = "MMMM y";

const formattedStartDate = job.startDate
  ? format(job.startDate, dateFormat) + " - "
  : "Before ";
const formattedEndDate = job.endDate
  ? format(job.endDate, dateFormat)
  : "Present";
const formattedDates = formattedStartDate + formattedEndDate;
const parsedLocation = job.location ?? "";
const displayLocation = parsedLocation + (job.remote ? " (Remote)" : "");

const styles = {
  heading: {
    fontSize: "1.125rem",
  },
  job: {
    backgroundColor: "rgba(255, 255, 255, 0.36)",
    mx: "auto",
    padding: "1.5rem",
  },
};
---

<div class={css(styles.job)}>
  <h4 class={css(styles.heading)}>{job.title}</h4>
  <p>{formattedDates}</p>
  <p>
    {displayLocation}
  </p>
  <ul>
    {job.bulletPoints.map((bulletPoint: string) => <li>{bulletPoint}</li>)}
  </ul>
</div>
