---
import { css } from "../../../styled-system/css";
import resume from "../../assets/files/David Larsen Resume Downloadable.pdf";
import Header from "../../layouts/Header.astro";
import Section from "../../layouts/Section.astro";
import ResumeJob from "./ResumeJob/ResumeJob.astro";
import { jobData } from "./jobData";

const styles = {
  downloadLink: {
    color: "#004566",
  },
  resume: {
    textAlign: "center",
    width: "20rem",
  },
  resumeBlock: {
    marginTop: "0.75rem",
    maxWidth: ["100%", "40%"],
  },
  article: {
    mx: "auto",
    maxWidth: "64ch",
    width: "100%",
  },
};
---

<Section id="work">
  <Header title="Work" />
  <div class={css(styles.resumeBlock)}>
    <div class={css(styles.resume)}>
      <a class={css(styles.downloadLink)} href={resume} download>
        Downloadable resume
      </a>
    </div>
  </div>

  <article class={css(styles.article)}>
    {jobData.map((job) => <ResumeJob job={job} />)}
  </article>
</Section>
