---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { css } from "../../styled-system/css";

export type DisplayImage = {
  src: ImageMetadata;
  alt: string;
  width?: number;
  height?: number;
  caption?: string;
};

interface Props {
  images: DisplayImage[];
}

const { images } = Astro.props;

const styles = {
  display: "flex",
  flexDirection: "column",
  width: "100%",
};
---

<div class={css(styles)}>
  {
    images.map((image, index) => (
      <figure
        class={css({
          mb: 4,
          alignSelf: index % 2 === 0 ? "flex-start" : "flex-end",
        })}
      >
        <Image
          alt={image.alt}
          height={image.height}
          src={image.src}
          width={image.width}
        />
        <figcaption
          class={css({ mt: 1, textAlign: index % 2 === 0 ? "left" : "right" })}
        >
          {image.caption || image.alt}
        </figcaption>
      </figure>
    ))
  }
</div>
