---
import { Image } from "astro:assets";
import { css } from "../../../../styled-system/css";
import GitHubImage from "../../../images/icons/github.png";
import LinkedInImage from "../../../images/icons/linkedin.png";

const styles = {
  container: {
    display: "flex",
    justifyContent: "center",
    gap: 4,
    paddingY: 0,
    marginBottom: "1rem",
    width: ["100%", "90%"],
  },
  grid: {
    display: "grid",
    gridTemplateColumns: "max-content minmax(47px, 1fr)",
    alignItems: "center",
    gap: 4,
    fontSize: "1.125rem",
    fontWeight: 500,
  },
};
---

<div class={css(styles.container)}>
  <div class={css(styles.grid)}>
    <p>GitHub:</p>
    <a href="https://www.github.com/dlars99">
      <Image
        src={GitHubImage}
        alt="GitHub Logo linking to the GitHub profile page of David Larsen"
        width={40}
        height={40}
      />
    </a>
  </div>

  <div class={css(styles.grid)}>
    <p>LinkedIn:</p>
    <a href="https://www.linkedin.com/in/david-larsen-nashville">
      <Image
        src={LinkedInImage}
        alt="LinkedIn Logo linking to the LinkedIn profile page of David Larsen"
        width={47}
        height={40}
      />
    </a>
  </div>
</div>
